/* PaintEvent.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3px;
    padding: 0px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    width: 25px; /* Set a specific width for images */
    height: 25px;
  }
  