.PreviousEvents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 20px;
    text-align: center;
    color: var(--osrs-text-color);
    padding: 10px;
    background-color: var(--primary-color);
}

.previousEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px; 
    padding: 10px;
    box-sizing: border-box;
}

.previousEventH2 {
    font-size: 16px;
    margin-bottom: 5px;
    height: 60px; 
    overflow: hidden;
}

.previousEventH3 {
    font-size: 12px;
    margin-top: 5px;
    height: 20px; 
    overflow: hidden;
}

.event-image {
    width: 600px;
    height: auto;
    max-height: 600px; 
    object-fit: fill; 
}

.PreviousEvents h5 {
    grid-column: 1 / -1;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    color: var(--osrs-text-color);
}
