.bingo-grid {
    text-align: center;
    margin: 20px;
    color: white;
}

.bingo-tile {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    min-width: 100px;
    min-height: 100px;
    background-color: #222;
}

.bingo-tile {
    background-color: transparent;
}

.tile-complete {
    background-color: green;
}

.tile-inprogress {
    background-color: rgb(211, 188, 55);
}

.tile-image {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.tile-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1px;
    color: white;
    font-size: 0.8em;
    z-index: 1;
    /* text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000; */
}

.tile-counter {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

.sabotage-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70px;
    height: 70px;
}

.bingo-info-icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    background-color: white;
}

.bingo-container {
    max-width: 95%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.view-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 5px;
}

.lukas-view-button {
    color: white;
    background-color: black;
}

.active-lukas-view-button {
    color: white;
    background-color: rgb(43, 14, 172);
}

.admin-grid .admin-tile {
    position: relative;
}

.admin-grid .tile-counter-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.admin-grid .tile-counter {
    position: static;
    margin-bottom: 5px;
}

.admin-grid .tile-actions {
    display: flex;
    gap: 5px;
}

.admin-grid .tile-actions button {
    font-size: 14px;
    padding: 2px 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.admin-grid .tile-actions button:hover {
    background-color: #0056b3;
}

.bingo-grid:not(.admin-grid) .tile-counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.bingo-grid:not(.admin-grid) .tile-actions {
    display: none;
}

.players-card {
    background-color: rgb(10, 2, 2) !important;
    color: white !important;
}

.rules {
    color: white;
    text-align: center;
}

.additonal-info-modal .modal-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-bottom: none;
}

.additonal-info-modal .modal-body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.additonal-info-modal .modal-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-top: none;
}