@font-face {
    font-family: 'OSRSFont';
    src: url('../../resources/fonts/osrsFont.ttf') format('truetype');
}
  
  .justen-meme-page h1 {
    font-family: 'OSRSFont', sans-serif;
    font-size: 100px;
    text-align: center;
    color: var(--osrs-text-color);
    text-shadow: 2px 2px 0 var(--accent-color-dark), -2px 2px 0 var(--accent-color-dark), -2px -2px 0 var(--accent-color-dark), 2px -2px 0 var(--accent-color-dark);
  }

  .justenTbowStats {
    font-family: 'OSRSFont', sans-serif;
    font-size: 50px;
    text-align: center;
    color: var(--osrs-text-color);
    text-shadow: 2px 2px 0 var(--accent-color-dark), -2px 2px 0 var(--accent-color-dark), -2px -2px 0 #000, 2px -2px 0 #000;
  }
  