.raid-bingo {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.raid-board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raid-bingo-team-name {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.raid-bingo-team-name {
    color: gold;
}