/* setup page */
.board-setup {
  background-color: #D2B48C;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Board */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.battleship-board {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: #e0e0e0;
  padding: 10px;
}

.board-header-row {
  display: flex;
  font-weight: bold;
}

.board-corner {
  width: 40px;
  height: 40px;
}

.board-column-header {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.board-row {
  display: flex;
  align-items: center;
}

.board-row-header {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


/* Tile */
.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}

.tile-hover {
  background-color: yellow;
}

.default {
  background-color: blue;
}

.hit-ship {
  background-color: green;
}

.hit-miss {
  background-color: red;
}

/* Ships */
.ship {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: gray;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  cursor: grab;
  margin: 10px;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.ship-body {
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.rotate-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 5px;
}

.occupied {
  background-color: darkgrey;
}