body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100%;
}


:root {
    --primary-color: #1B262C;
    --secondary-color: #0F4C75;
    --accent-color-light: #3282B8;
    --text-color: white;
    --osrs-text-color: #f9d000;
}