.welcome-page {
    display: flex;
    font-size: 18px;
    flex-direction: column;
    min-height: 100vh; 
    text-align: center;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 20px;
    padding-bottom: 40px; 
    box-sizing: border-box; 
    overflow: hidden; 
}

.welcome-page h1 {
    margin-bottom: 20px; 
    font-weight: bold;
    font-size: 32px;
    color: var(--accent-color);
}

.welcome-page-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    margin: 0 auto; 
    max-width: 1600px; 
    width: 100%; 
    box-sizing: border-box; 
}

.discord-info, .toolbar-info, .clan-information, .additional-info, .how-to-join {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--secondary-color); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.section-header {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border-radius: 5px;
}

.section-content {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

/* Discord block */
.discord {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.discord img {
    width: 50px; 
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .welcome-page {
        padding: 10px;
        min-height: auto;
        padding-bottom: 60px;
    }

    .welcome-page-grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 100%;
    }

    .discord img {
        width: 40px;
    }

    .welcome-page h1 {
        font-size: 24px;
    }

    .discord-info, .how-to-join, .clan-information, .toolbar-info, .additional-info {
        padding: 10px;
    }
}

/* Rank Table */
.rank-table {
    width: 100%;
    border-collapse: collapse;
}

.rank-category-header {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

.rank-category-header th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rank-row {
    border-bottom: 1px solid #ddd;
}

.rank-icon-cell {
    padding: 3px;
    text-align: left;
    width: 30px;
}

.rank-icon {
    width: 15px;
    height: 15px;
}

.rank-text {
    padding: 3px;
    text-align: left;
}
